/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





div.bin {
  background-color: red;
  width: 100px;
  height: 100px;
}

div.item {
  background-color: green;
  width: 50px;
  height: 50px;
}


div.small-item {
  background-color: blue;
  width: 25px;
  height: 25px;
}

.pl {
  background-color: red;
  width: 75px;
  height: 50px;
  position: absolute;
  font-size: 12px;

}

/*card*/

.card {
  /*display: inline-block;*/
  float: left;
  width: 100px;
  height: 150px;
  background-size: 100% 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  border: solid 2px #000000;
  /*background-image: url('/home/leo/Downloads/munchkin/door.jpg');*/

}

.card.treasure-face{  
  background-image: url('/home/leo/Downloads/munchkin/treasure-face.jpg');
}

.card.door-face{  
  background-image: url('/home/leo/Downloads/munchkin/door-face.jpg');
}

.card.treasure-face.race{
  font-size: 10px;
}

.card.treasure{  
  background-image: url('/home/leo/Downloads/munchkin/treasure.jpg');
}

.card.door{  
  background-image: url('/home/leo/Downloads/munchkin/door.jpg');
}


/*owner desk*/

owner-player {
  width: 100%;
  height: 25%;
  position: fixed;
  bottom: 0;
  background-color: red;
  padding: 5px;
}

character {
  height: 100%;
  width: 30%;
  float: left;
  background-color: #dddddd;
}

cards-field {
  height: 100%;
  width: 67%;
  float: right;
  background-color: antiquewhite;
}


.character {
  width: 100%;
  height: 100%;
}

.playground {
  position: absolute;
  width: 100%;
  height: 75%;
}

.preloader {
    padding: 50px;
    background: image-url('preloader.gif') no-repeat 50% 50% transparent;
}