<!DOCTYPE html>
<html>
  <head>
    <title>ManchBack</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body ng-app="Manchkin">

  <!--  <div class="card treasure-face"></div>
   <div class="card door-face"></div>
   <div class="card treasure"></div>
   <div class="card door"></div>

   <div class="card treasure-face race" draggable>
     <p class="name">Эльф</p>
     <p class="first-ability">+1 к Смывке</p>
     <p class="first-ability">Поднимаешься на 1 Уровень за каждого монстра которого помогаешь убить</p>
   </div> -->
  <div ng-view=""></div>


  <div loading class="preloader"></div>

  <script type="text/ng-template" id='login.html'>
    <form novalidate class="simple-form">
      Name: <input type="text" ng-model="user.name" /><br />
      <!--E-mail: <input type="email" ng-model="user.email" /><br />-->
      <!--Gender: <input type="radio" ng-model="user.gender" value="male" />male-->
      <!--<input type="radio" ng-model="user.gender" value="female" />female<br />-->
      <!--<input type="button" ng-click="reset()" value="Reset" />-->
      <!--<input type="submit" ng-click="update(user)" value="Save" />-->
      <a href="#/waiting_room">go to waiting room</a>
    </form>
  </script>

  <script type="text/ng-template" id='waitingRoom.html'>
    lol
  </script>

  <script type="text/ng-template" id='gg.html'>
    <a href="/">aa</a>
      <game-field owner="owner" players="players"></game-field>
  </script>

      <!-- inline templates -->
      <script type="text/ng-template" id='gameField.html'>
        <div class="playground"
             droppable
             drop="handleDrop">
          <other-players players="players" handle-action="$ctrl.handleAction(action)"></other-players>
        </div>

        <owner-player owner='owner' handle-action="$ctrl.handleAction(action)"></owner-player>
      </script>

      <script type="text/ng-template" id='ownerPlayer.html'>

        <character char="$ctrl.owner" handle-action="$ctrl.handleActionn(action)"></character>
        <cards-field cards="$ctrl.owner.cards"></cards-field>

      </script>


      <script type="text/ng-template" id='character.html'>

        <div class="character"
             droppable
             drop="handleDrop"
             id="{{$ctrl.char.id}}">
          <div class="avatar"><img src="/home/lmoskvin/Downloads/images.jpg"></div>
          <div class="level">level: {{$ctrl.char.level}}</div>
          <div class="power">power: {{$ctrl.char.power}}</div>
        </div>
      </script>


      <script type="text/ng-template" id='cardsField.html'>
        <card ng-repeat="card in $ctrl.cards" card="card"></card>
      </script>

      <script type="text/ng-template" id='otherPlayers.html'>
        <div class='pl'
             droppable
             drop="handleDrop"
             style="transform-origin: 50% 50%"
             ng-repeat='player in playersPosition'
             ng-style="{ left: player.x, top: player.y, color: player.color }"
             rotate degrees="player.deg"
             id="{{player.id}}"
        ></div>
      </script>



      <script type="text/ng-template" id='card.html'>
        <div class="card treasure-face race" draggable id="{{ $ctrl.card.id }}">
          <p class="name">{{$ctrl.card.id}}</p>
          <p class="name">{{$ctrl.card.name}}</p>
          <p class="first-ability">{{$ctrl.card.first_ability}}</p>
          <p class="first-ability">{{$ctrl.card.second_ability}}</p>
        </div>
      </script>




  </body>
</html>
